/* line 1, ../sass/base/_base.scss */
a {
  transition: 0.5s;
}

/* line 7, ../sass/base/_base.scss */
ul li {
  list-style: none;
}

/* line 13, ../sass/base/_base.scss */
.readmore {
  background: #3f4c6b;
  color: white;
  padding: 0px 30px;
  transition: 0.5s;
}
/* line 18, ../sass/base/_base.scss */
.readmore:hover {
  background-color: #2c364c;
}
/* line 21, ../sass/base/_base.scss */
.readmore a:hover {
  color: white;
}

/* line 27, ../sass/base/_base.scss */
.btn {
  border-radius: 0px !important;
}

/* line 31, ../sass/base/_base.scss */
.btn.focus,
.btn:focus,
.btn:hover {
  color: #fff !important;
  text-decoration: none;
}

/* line 39, ../sass/base/_base.scss */
.img-thumbnail {
  border-radius: 0px !important;
}

/* line 1, ../sass/module/_navbar.scss */
.navbar {
  background-color: #434957 !important;
}
/* line 3, ../sass/module/_navbar.scss */
.navbar a {
  color: white !important;
}

/* Carousel Styles */
/* line 2, ../sass/module/_heroslider.scss */
.carousel-indicators .active {
  background-color: #2980b9;
}

/* line 6, ../sass/module/_heroslider.scss */
.carousel-inner img {
  width: 100%;
  max-height: 100vh;
}

/* line 11, ../sass/module/_heroslider.scss */
.carousel-control {
  width: 0;
}

/* line 15, ../sass/module/_heroslider.scss */
.carousel-control.left,
.carousel-control.right {
  opacity: 1;
  filter: alpha(opacity=100);
  background-image: none;
  background-repeat: no-repeat;
  text-shadow: none;
}

/* line 24, ../sass/module/_heroslider.scss */
.carousel-control.left span {
  padding: 15px;
}

/* line 28, ../sass/module/_heroslider.scss */
.carousel-control.right span {
  padding: 15px;
}

/* line 32, ../sass/module/_heroslider.scss */
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
  position: absolute;
  top: 45%;
  z-index: 5;
  display: inline-block;
}

/* line 42, ../sass/module/_heroslider.scss */
.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
  left: 0;
}

/* line 46, ../sass/module/_heroslider.scss */
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
  right: 0;
}

/* line 52, ../sass/module/_heroslider.scss */
.carousel-control.left span:hover,
.carousel-control.right span:hover {
  opacity: .7;
  filter: alpha(opacity=70);
}

/* Carousel Header Styles */
/* line 59, ../sass/module/_heroslider.scss */
.header-text {
  position: absolute;
  top: 20%;
  left: 1.8%;
  right: auto;
  width: 96.66666666666666%;
  color: #fff;
}

/* line 68, ../sass/module/_heroslider.scss */
.header-text h2 {
  font-size: 40px;
}

/* line 72, ../sass/module/_heroslider.scss */
.header-text h2 span {
  background-color: #2980b9;
  padding: 10px;
}

/* line 77, ../sass/module/_heroslider.scss */
.navbar {
  border-radius: 0px;
}

/* line 1, ../sass/module/_about.scss */
.images {
  height: 60px;
  width: 30px;
}

/* line 5, ../sass/module/_about.scss */
.about {
  padding: 50px 0px;
}

/* line 1, ../sass/module/_service.scss */
.service {
  background-color: #434957;
  color: #fff;
  padding: 50px 0px;
  text-align: center;
}
/* line 6, ../sass/module/_service.scss */
.service__heading {
  margin: 40px 0px;
}
/* line 9, ../sass/module/_service.scss */
.service--headingbg {
  color: #93f4ff;
}

/* line 13, ../sass/module/_service.scss */
.services-services {
  padding: 50px 0px;
}

/* line 1, ../sass/module/_footer.scss */
.footer {
  background-color: #434957;
  color: white;
  margin: 40px 0px 0px 0px;
  padding: 20px 0px;
}

/* line 1, ../sass/module/_testimonial.scss */
.our_clients_review {
  padding: 40px 0px;
}

/* line 4, ../sass/module/_testimonial.scss */
.our_clients_review .client_testimonial {
  border-left: 3px solid #3498db;
  border-top: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.09);
  padding: 30px 30px 30px 30px;
  margin: 0 10px 4px;
}

/* line 11, ../sass/module/_testimonial.scss */
.our_clients_review .client_testimonial .pic {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 20px;
  border: 2px solid rgba(0, 0, 0, 0.09);
}

/* line 18, ../sass/module/_testimonial.scss */
.our_clients_review .client_testimonial .pic img {
  width: 100%;
  height: auto;
}

/* line 22, ../sass/module/_testimonial.scss */
.our_clients_review .client_testimonial .client_info {
  float: left;
  margin-right: 20px;
  width: calc(22% - 1.875rem);
}

/* line 27, ../sass/module/_testimonial.scss */
.our_clients_review .client_testimonial .description {
  font-size: 13px;
  color: #918686;
  padding-top: 10px;
  line-height: 20px;
  margin: 0 0 3% 35%;
}

/* line 34, ../sass/module/_testimonial.scss */
.our_clients_review .client_testimonial .title {
  display: block;
  font-size: 15px;
  font-weight: 700;
  margin: 0;
}

/* line 40, ../sass/module/_testimonial.scss */
.our_clients_review .client_testimonial .post {
  font-size: 12px;
  display: block;
}

/* line 44, ../sass/module/_testimonial.scss */
.our_clients_review .owl-theme .owl-controls .owl-buttons .owl-prev,
.our_clients_review .owl-theme .owl-controls .owl-buttons .owl-next {
  height: 96%;
  line-height: 155px;
  position: absolute;
  right: -40px;
  top: 0;
}

/* line 53, ../sass/module/_testimonial.scss */
.our_clients_review .owl-theme .owl-controls .owl-buttons .owl-prev {
  right: -40px;
}

/* line 54, ../sass/module/_testimonial.scss */
.our_clients_review .owl-theme .owl-controls .owl-buttons .owl-next {
  right: -80px;
}

/* line 55, ../sass/module/_testimonial.scss */
.our_clients_review .owl-theme .owl-controls .owl-buttons div {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #3498db;
  border-radius: 1px;
  opacity: 1;
  padding: 0;
  margin: 0;
}

/* line 65, ../sass/module/_testimonial.scss */
.owl-theme .owl-controls .owl-page span {
  border: 2px solid #d45113;
  background: #fff;
  opacity: 1;
}

/* line 70, ../sass/module/_testimonial.scss */
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page:hover span {
  background: #d45113;
}

@media only screen and (max-width: 992px) {
  /* line 75, ../sass/module/_testimonial.scss */
  .our_clients_review .client_testimonial .description {
    margin: 0 0 3% 44%;
  }
}
@media only screen and (max-width: 640px) {
  /* line 78, ../sass/module/_testimonial.scss */
  .our_clients_review .client_testimonial .pic {
    float: none;
    width: 100%;
    height: auto;
    margin: 0 0 10px;
  }

  /* line 84, ../sass/module/_testimonial.scss */
  .our_clients_review .client_testimonial .client_info {
    float: none;
    width: 100%;
    margin: 0 0 10px;
  }

  /* line 89, ../sass/module/_testimonial.scss */
  .our_clients_review .owl-theme .owl-controls .owl-buttons .owl-prev,
  .our_clients_review .owl-theme .owl-controls .owl-buttons .owl-next {
    position: inherit;
    height: 30px;
    line-height: 30px;
  }

  /* line 95, ../sass/module/_testimonial.scss */
  .our_clients_review .client_testimonial .description {
    margin: 0;
  }
}
/* line 1, ../sass/module/_copyright.scss */
.copyright {
  background-color: #353847;
  color: white;
}
